/* Estilo para el bot칩n "Ver" */
.btn-ver {
    background-color: #f8f9fa; /* Gris claro */
    color: #000; /* Negro */
    border: 1px solid #ced4da; /* Borde gris */
}

.btn-ver:hover {
    background-color: #e9ecef; /* Gris un poco m치s oscuro al hacer hover */
    color: #000; /* Negro */
}

/* Estilo para el bot칩n "Editar" */
.btn-editar {
    background-color: #f8f9fa; /* Gris claro */
    color: #000; /* Negro */
    border: 1px solid #ced4da; /* Borde gris */
}

.btn-editar:hover {
    background-color: #e9ecef; /* Gris un poco m치s oscuro al hacer hover */
    color: #000; /* Negro */
}



/* Estilo para el bot칩n "ver el menu en movil" */
@media (max-width: 768px) {
    .sidebar {
        background: #212529 !important; /* 游댳 Color oscuro asegurado */
        color: white !important;
    }

    .sidebar a {
        color: white !important; /* 游댳 Asegurar visibilidad */
    }

    .sidebar .nav-link {
        color: white !important;
    }

    .sidebar {
        z-index: 1050 !important; /* 游댳 Mayor que el navbar */
        position: fixed;
        top: 0;
        left: -250px; /* Se oculta por defecto */
        width: 250px;
        height: 100vh;
        overflow-y: auto;
        transition: left 0.3s ease-in-out;
    }

    .sidebar.show {
        left: 0;
    }
}
